<%- include("./partials/head") %> <%- include("./partials/header") %>

<main class="container-main">
  <section id="container">
    <div class="img-whats">
      <img src="../../img/whatsappcolorido.png" alt="Whatsapp" />
    </div>

    <div class="result-search">
      <h3>Resultado da pesquisa: <%= searchKey %></h3>
      <% if(listProducts.length > 0) { %>
      <div class="table">
        <% for (let product of listProducts) { %>
        <div class="box">
          <div class="img-product">
            <img src=" <%= product.Image.image %> " alt="" />
            <div class="name-product">
              <h3><%= product.name %></h3>
            </div>
          </div>
          <div class="description">
            <h4>Descrição:</h4>
            <h5><%= product.description %></h5>
          </div>
          <div class="category">
            <h4>Categoria:</h4>
            <h5><%= product.Category.name %></h5>
          </div>
          <div class="price">
            <h4>Preço:</h4>
            <h5><%= product.price %></h5>
          </div>
          <div class="btn-product">
            <a href="/product/edit/<%= product.id %>">
              <button type="button">
                <img src="/img/pen.png" alt="" />
              </button>
            </a>
            <a href="/product/delete/<%= product.id %>">
              <button type="button">
                <img src="/img/lata-de-lixo.png" alt="" />
              </button>
            </a>
          </div>
        </div>
        <% } %>
      </div>
      <% } else { %>
      <h2 class="error-alert">Nenhum produto encontrado!!</h2>
      <% } %> <%- include("./partials/pagination") %>
    </div>
  </section>
</main>
<%- include('./partials/footer') %>
