<%- include("./partials/head") %> <%- include("./partials/header-adm") %>

<main class="container-adm">
  <div class="way">
    <h5><a href="/order">Pedidos</a></h5>
  </div>
  <!-- <div class="add-item">
    <form action="/order/create" method="get">
      <button type="submit">Adicionar</button>
    </form>
  </div> -->

  <!-- <div class="in-table">
    <input type="search" name="" id="" placeholder="Pesquisar..." />
    <img src="/img/lupa.png" alt="" />
  </div> -->

  <% if(listOrders.length> 0) { %>

  <div class="container-orders">
    <% for (let order of listOrders) { %>
    <div class="oders">
      <a href="/order/<%= order.id %>">
        <div class="name-purchase">
          <h4>Cliente</h4>
          <h5><%= order.User.name %> <%= order.User.last_name %></h5>
        </div>
        <div class="name-purchase">
          <h4>Data do pedido</h4>
          <h5>
            <%= `${order.created_at.getDate()} / ${order.created_at.getMonth() +
            1} / ${order.created_at.getFullYear()}` %>
          </h5>
        </div>
        <div class="name-purchase">
          <h4>Status do pedido</h4>
          <h5><%= order.status %></h5>
        </div>
      </a>
    </div>
  </div>

  
  <% } %> <% } %> <%- include("./partials/pagination") %>
</main>

<%- include("./partials/footer-adm") %>
