<%- include("./partials/head") %>
    <%- include("./partials/header-adm") %>
        <div class="way">
            <h5><a href="/category/">Pedido</a></h5>
            <h5> - Atualizar pedido</h5>
        </div>

        <main class="container-main">
            <section id="container-form">
                <h2>Atualizar pedido</h2>
                <% if(locals.error){ %>
                    <h2 class="error-alert">
                        <%= error.message %>
                    </h2>
                    <% } %>
                        <form action="/order/edit/<%= order.id %>?_method=put" method="post">
                            <label for="nome">Nome:</label>
                            <input value="<%= order.status %>" type="text" name="nome" />

                            <button type="submit">Atualizar</button>
                        </form>

            </section>
        </main>

        <%- include('./partials/footer-adm') %>