<%- include("./partials/head") %>

    <%- include("./partials/header") %>

        <main id="container">
            <h2>Lista de produtos</h2>
            <% if(listProducts.length> 0) { %>
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Preço</th>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Tamanho</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let product of listProducts) { %>
                                <tr>
                                    <td>
                                        <%= product.nome %>
                                    </td>
                                    <td>
                                        <%= product.preco %>
                                    </td>
                                    <td>
                                        <%= product.descricao %>
                                    </td>
                                    <td>
                                        <%= product.preco %>
                                    </td>
                                    <td>
                                        <%= product.tamanho %>
                                    </td>
                                    <td class="table-actions">
                                        <a href="/product/<%= product.id %>" class="table-link-show"
                                            href="">Visualizar</a>
                                        <a href="/product/edit/<%= product.id %>" class="table-link-edit"
                                            href="">Editar</a>
                                        <a href="/product/delete/<%= product.id %>" class="table-link-delete"
                                            href="">Excluir</a>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
                <% } else { %>
                    <h2 class="error-alert">Nenhum produto encontrado!!</h2>
                    <% } %>
        </main>

        <%- include("./partials/footer") %>