<%- include("./partials/head") %>

    <%- include("./partials/header-adm") %>


    <main id="container-principal-user">
        <div class="way">
            <h5>Clientes</h5>
        </div>
        <div class="add-item">
            <form action="/user/create" method="get">
                <button type="submit">Adicionar</button>
            </form>
        </div>

        <div class="in-table">

            <input type="search" name="" id="" placeholder="Pesquisar...">
            <img src="/img/lupa.png" alt="">

        </div>

        <% if(listUsers.length> 0) { %>
            <div class="table">

                <% for (let user of listUsers) { %>
                    <div class="box">
                        <div class="img-user">
                            <img src=" ../../../../img/user-default.jpeg " alt="">
                        </div>
                        <div class="user-name">
                            <h4>Nome:</h4>
                            <h4>
                                <%= user.nome %>
                            </h4>
                        </div>
                        <div class="user-sobrenome">
                            <h4>Sobrenome:</h4>
                            <h4>
                                <%= user.sobrenome %>
                            </h4>
                        </div>
                        <div class="user-email">
                            <h4>E-mail:</h4>
                            <h4><%= user.email %>
                            </h4>
                        </div>
                        <div class="btn-user">
                            <a href="/user/edit/<%= user.id %>">
                                <button type="button">
                                    <img src="/img/pen.png" alt="">
                                </button>
                            </a>
                            <a href="/user/delete/<%= user.id %>">
                                <button type="button">
                                    <img src="/img/lata-de-lixo.png" alt="">
                                </button>
                            </a>
                        </div>
                    </div>
                    <% } %>

            </div>
            <% } else { %>
                <h2 class="error-alert">Nenhum produto encontrado!!</h2>
                <% } %>
    </main>


        <%- include("./partials/footer-adm") %>