<%- include("./partials/head")%>
    <%- include("./partials/header")%>
        <main id="container">
            <h1>Bem vindo ao painel administrativo</h1>
            <h2>Deletar usuário</h2>
            <% if(locals.user){ %>
                <div class="caixa">
                    <img src="<%= user.avatar %> " alt="avatar">
                    <span>
                        <%= user.nome %>
                            <%= user.sobrenome %>
                    </span>
                    <span>
                        <%= user.email %>
                    </span>
                    
                </div>
                <form class="delete-buttons" action="/user/delete/<%= user.id %>?_method=delete" method="post">
                    <h2>Deseja deletar esse usuário?</h2>
                    <a href="/user"><button type="button">Não</button></a>
                    <button type="submit">Sim</button>
                </form>
                <% }else {%>
                    <h2 class="error-alert">Usuário não encontrado!</h2>
                    <% } %>
        </main>
        <%- include("./partials/footer")%>