<%- include("./partials/head") %>
    <%- include("./partials/header") %>
        <main class="container-main">
            <div class="container-principal-PanelUser">
                <div class="container-PanelUser">
                    <section class="section-side">
                        <% if (locals.user) {%>
                            <div class="user">
                                <img src="<%= user.avatar %>" alt="">

                                <h4>
                                    Olá - <%= locals.user.nome %>
                                </h4>

                            </div>
                            <div class="btn-userPanel">
                                <a href="/user/edit/<%= locals.user.id %>"><button type="button">Editar
                                        perfil</button></a>
                            </div>
                            <div class="creditos">
                                <ul>
                                    <h3>Créditos</h3>
                                    <li><span>Total</span><span>R$ 0,00</span></li>
                                </ul>
                            </div>

                            <% }%>
                    </section>

                    <section class="purchases-made">
                        <div class="title-purchase">
                            <h3>Compras Realizadas</h3>
                        </div>

                        <div class="container-purchases">

                            <div class="purchase">
                                <img src="../../img/9.png" alt="">
                                <div class="name-purchase">
                                    <h3>
                                        Colônia Granado
                                    </h3>
                                </div>
                            </div>

                        </div>

                        <div class="container-purchases">

                            <div class="purchase">
                                <img src="../../img/9.png" alt="">
                                <div class="name-purchase">
                                    <h3>
                                        Colônia Granado
                                    </h3>
                                </div>
                            </div>

                        </div>

                        <div class="container-purchases">

                            <div class="purchase">
                                <img src="../../img/9.png" alt="">
                                <div class="name-purchase">
                                    <h3>
                                        Colônia Granado
                                    </h3>
                                </div>
                            </div>

                        </div>
                    </section>

                </div>




                <div class="atendimento-cliente">
                    <h4>Atendimento ao cliente</h4>
                    <h5>Central SAC: (19) 2124 4444</h5>
                    <h5>E-mail: faleconosco@prefuma.com.br</h5>
                    <a href="#">Atendimento via chat</a>
                </div>

            </div>
        </main>
        <%- include("./partials/footer") %>